/* FONT STACK */
body,
input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

/* BASE LAYOUT */

html {
	/*
	background-image: -moz-linear-gradient(center top, #aaa, #ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
	background-image: linear-gradient(top, #aaa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
	background-repeat: no-repeat;
	height: 100%;*/
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
    /*background: url("http://localhost:8080/emobilesim2/images/i2maps/px.png") repeat scroll 0 0 rgba(0, 0, 0, 0);;*/

	color: #333333;
	margin: 0 auto;
	overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	  /* -moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	        box-shadow: 0 0 0.3em #255b17;*/
}

#grailsLogo {
	background-color: #abbf78;
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
	/*border-color: #255b17;*/
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

/*
a:link, a:visited, a:hover {
	color: #48802c;
}
*/

/* prevents outline in webkit on active links but retains it for tab focus */
/*
a:hover, a:active {
	outline: none;
}
*/


h1 {
	color: #48802c;
	font-weight: normal;
	font-size: 1.25em;
	margin: 0.8em 0 0.3em 0;
}

/*
ul {
	padding: 0;
}
*/

img {
	border: 0;
}

/* GENERAL */

#grailsLogo a {
	display: inline-block;
	margin: 1em;
}

.content {
}

.content h1 {
	border-bottom: 1px solid #CCCCCC;
	margin: 0.8em 1em 0.3em;
	padding: 0 0.25em;
}

.scaffold-list h1 {
	border: none;
}

.footer {
	background: #abbf78;
	color: #000;
	clear: both;
	font-size: 0.8em;
	margin-top: 1.5em;
	padding: 1em;
	min-height: 1em;
}

.footer a {
	/*color: #255b17;*/
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
	top: 0;
	text-indent: -9999px;
}

/* NAVIGATION MENU */

.nav {
	background-color: #efefef;
	padding: 0.5em 0.75em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	zoom: 1;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin-right: 0.5em;
	padding: 0;
}

.nav a {
	color: #666666;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
	color: #666666;
}

.nav a:focus, .nav a:hover {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */


.property-list {
	margin: 0.6em 1.25em 0 1.25em;
	padding: 0.3em 1.8em 1.25em;
	position: relative;
	zoom: 1;
	border: none;
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
	color: #666666;
	text-align: right;
	width: 25%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #cccccc;
	font-size: 1em;
	padding: 0.2em 0.4em;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {
	width: 250px;
	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input:focus, select:focus, textarea:focus {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	outline: 0;
	   -moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	        box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */

/* MESSAGES AND ERRORS */

.errors,
.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	   -moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	        box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
	/*border-top: 1px solid #DFDFDF;*/
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}


th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666666;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

th:hover, tr:hover {
	//background: #E1F2B6;
}

/* PAGINATION */

.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	   -moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	        box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
	background-color: #efefef;
	overflow: hidden;
	padding: 0.3em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	margin: 0.1em 0 0 0;
	border: none;
}

.buttons input,
.buttons a {
	background-color: transparent;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	padding: 0.25em 0.7em;
	text-decoration: none;

	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.ie6 .buttons input.delete, .ie6 .buttons input.edit, .ie6 .buttons input.save,
.ie7 .buttons input.delete, .ie7 .buttons input.edit, .ie7 .buttons input.save {
	padding-left: 36px;
}

.buttons .delete {
	background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
	background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
	background-image: url(../images/skin/database_save.png);
}

a.skip {
	position: absolute;
	left: -9999px;
}

#topbar {
    text-align:left;
    width: 778px;
    margin: 0px auto;
    padding: 5px 0;
}
#topbar  {
    position:fixed;
    float: right;
    width: 240px;
    text-align: right;
    font-size: 10px;
}


#player {
    position: fixed;
    /*border: 1px solid rgb(248, 248, 248);*/
    margin-right: 50px;
    padding: 10px;
    width: 25%;

    top: 50px;
    right: -20px ;

    background-color: #CCCCCC;
}




#header {
    width: 778px;

    height: 70px;
    margin: 0px auto;
}
#header h1 {
    font-family:Arial,sans-serif;
    color: white;
    padding: 20px 0 0 6px;
    font-size:1.6em;
}
body {
    /*background-image: url("http://localhost:8080/emobilesim2/images/i2maps/px.png");*/
    margin: 0px;
    padding: 0px;
    text-align:center;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: normal;
    font-size-adjust: none;
    font-stretch: normal;
    /*
    color: #333333;
    */
}
#page {
    /*background: url("http://localhost:8080/emobilesim2/images/i2maps/px.png") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    margin: 0px auto;
    padding: 0px 0px;
    text-align:left;
}

#content {

    /*background-image: url("http://localhost:8080/emobilesim2/images/i2maps/px.png") ;*/
    float: left;
    /*
    color: #000;
    */
    /*padding: 2px 2px 2px 2px;*/
    width: 100%;
    text-align: left;
    height: 100%;
    /*
    height: 830px;
    */
}

#map_canvas {
    position: absolute;
    width: 800px;
    height: 600px;
    left: 19em;
    top: 1em;
}

#trackInfo {
    position: fixed;
    z-index:2000000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
}
* html #trackInfo { /* ie6 hack */
    position: absolute;
    height: expression(document.body.scrollHeight > document.body.
    offsetHeight ? document.body.scrollHeight : document.body.
    offsetHeight + 'px');
}
.overlayBG {
    background-color:#000;
    -ms-filter: "Alpha(Opacity=25)"; /* IE 8 */
    filter:alpha(opacity=25); /* IE5-7 */
    -moz-opacity: 0.25; /* Mozilla */
    opacity: 0.25;
}

#lightBoxGasoline {
    position:fixed;
    top:20%;
    left:50%;

    /*
    margin-left:-100px;
    margin-top:-80px;
    */
    z-index:2000001;
    width:400px;
    height:270px;
    background-color:#e8e8e8;
    text-align:center;

    box-shadow: 0px 13px 74px 1px #DDDDDD;

    border: 0.01px #111111 solid;
    border-radius: 10px 10px 10px 10px;
}
* html #lightBoxGasoline { /* ie6 hack */
    position: absolute;
    margin-top: expression(0 - parseInt(this.offsetHeight / 2) +
     (TBWindowMargin = document.documentElement &&
     document.documentElement.scrollTop ||
     document.body.scrollTop) + 'px');
}

#lightBox {
    position:fixed;
    top:20%;
    left:50%;

    /*
    margin-left:-100px;
    margin-top:-80px;
    */
    z-index:2000001;
    width:400px;
    height:380px;
    background-color:#e8e8e8;
    text-align:center;

    box-shadow: 0px 13px 74px 1px #DDDDDD;

    border: 0.01px #111111 solid;
    border-radius: 10px 10px 10px 10px;
}
.lightboxcontainer {

    margin: 20px;
    padding: 10px;
    background-color: #EEEEEE;
    border: 0.01px #111111 solid;

    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 13px 74px 5px #DDDDDD;

    width: 400px;
    height: 270px;

}
/* "." references the class */
.lightboxmenu{

    border-radius: 10px 10px 0px 0px;

    height: 35px;
    width: 400px;
    background-color: #BBBBBB;
}
.lightboxselection{

    float: left;
    height: 200px;
    width: 400px;
}
.lightboxtasks{

    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 10px 10px;

    float: left;
    height: 45px;
    width: 400px;
    background-color: #BBBBBB;
}

.deletebuttondiv{
    float: left;
    margin: 10px 10px 10px 10px;
}

.lightbox-submit-delete{
    float: left;
    margin: 10px 10px 10px 10px;
}

.lightbox-submit-save{
    float: right;
    margin: 10px 10px 10px 10px;
}

.lightbox-title{
    text-align: left;
    width: 80%;
    padding: 12px 6px 0 13px;;
}
.lightbox-close{
    float: right;
    /*
    margin: 3px 3px 0px 0px;
    */
    margin: -21px 2px 0px 0px;
}


* html #lightBox { /* ie6 hack */
    position: absolute;
    margin-top: expression(0 - parseInt(this.offsetHeight / 2) +
     (TBWindowMargin = document.documentElement &&
     document.documentElement.scrollTop ||
     document.body.scrollTop) + 'px');
}

#sidebar {
    float: right;
    width: 200px;
    color: #000;
    padding: 3px;
}



body, a {
    font: normal 90% Helvetica, Arial, sans-serif;
    color: black;

}


ul#Navigation {
    margin: 0;
    padding: 0.21em;
    text-align: left;
    border: 0px solid black;
    background-color: silver;
}
ul#Navigation li {
    list-style: none;
    display: inline;
    margin: -2px;
    padding: 0;
}

ul#Navigation a, ul#Navigation span {
    padding: 0.2em 1em;
    text-decoration: none;
    border: 0px solid black;
    border-left-color: white;
    border-top-color: white;
    color: #222222;
    background-color: #ccc;
    font-size: 1em;
    font-weight: 100;
}
* html ul#Navigation a, * html ul#Navigation span {
    width: 1em;    /* nur fuer IE 5.0x erforderlich */
}
ul#Navigation a:hover, ul#Navigation span {
    border-color: #AAAAAA;
    border-left-color: black; border-top-color: black;
    color: white; background-color: gray;
}

#footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 12px;
    background: #C0C0C0;

    clear:both;
    text-align: center;
    padding: 3px;
    font-size: 80%;

    border-top: 1px solid #AAAAAA;

}

body.lightBoxBody{
    margin: 0;
    background: white;
    overflow: hidden;
}

.html #lightBoxContent{
    margin: 0 8px 0 22px;
}
#lightBoxContent{
    margin: 0 22px 0 22px;
    position: relative;
}


.pContainer {

    margin-left: 110px;
    margin-top:10px;
    margin-right: 140px;
    min-height: 300px;




}
.dContainer{
    height: 95%;
    width: 1100px;
}
.d1{

}
.d2{
    /*
    background: none repeat  0 0 blue;
    */
   /* float: left;
    height: 95%;
    width: 800px;*/
}
.d3{
    float: left;
    height: 95%;
    width: 0px;
    background:green;
}


.olMap {
    width: 95%;
    border: 0.01px #111111 solid;
    position:relative;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 13px 74px 1px #DDDDDD;

    cursor: default;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 1;
}
.olMapViewport {
     border-radius: 10px 10px 10px 10px;
     text-align: left;
}

.slide-control-group {

    border: 1px solid #808080;
    width: 280px;
    position: absolute;
    right:1%;
    opacity: 0.85;
    overflow: visible;
}


#startSimulation {
    margin-left: 150px;
    margin-top: 40px;
}

#simple-menu {
    position:absolute;
    top:140px;
    width:20px;
    height:59px;
    background:transparent url(../images/toggle.png);
    cursor:pointer;
    z-index:1;
}

#simple-menu.leftPaneToggleIn:hover{
    background:transparent url(../images/toggle_hover.png);
}
#simple-menu:hover{
    background:transparent url(../images/toggle_hover.png);
}


#content#sidr.sidr-inner#sidr-id-button_play_pause b{
    font-size: 15px;
    height:30px;
}


 #menu span a.registration {

    text-decoration: none;
    color:white;
    position: relative;
    right: 5px;
    align: right;
    font-size: 11px;
    margin-left: 10px;


}


 .registration1 {
     position: absolute;
     right: 5px;
     align: right;

 }

 .regristrationText{
     position: relative;
     vertical-align: middle;
     margin-top: 14px;
     margin-right: 5px;

     font-size: 12px;
 }

 .registrationButtons {
     position: relative;
     top:7px;

 }

 .registrationForm {
     width: 280px;


     margin: 0 auto;
     margin-top: 150px;
     font-size: 12px;
 }

 .registrationTitle{
     font-size: 13px;
     font-weight: bold;

 }


.contentRight {
    padding:10px;
    width:100px
    background-color:#f0f0f0;
}
.contentLeft{
    padding:10px;
    width:400px;
    border-radius: 6px;
    /*background-color:#f0f0f0;*/
}

.contentLeftSignIn{
    padding:10px;
    width:400px;
    border-radius: 6px;
    /*background-color:#f0f0f0;*/
}

.leftbig {
    float:left;
    padding:7px 0px 0px 7px;
    min-height:24px;
    font-weight: bold;
}
.left{
    width:150px;
    float:left;
    padding:7px 0px 0px 7px;
    min-height:24px;
    font-weight: bold;
}

.leftR {
    width:150px;
    float:left;
    padding:5px;
    min-height:24px;
    font-weight: bold;
    display: table-cell;
}
.leftCar{
    width:100px;
    //float:right;
    padding:7px 0px 0px 7px;
    min-height:24px;
    font-weight: bold;
    position: relative;
    right: 5px;
}
.right{
    width:150px;
    float:right;
    padding:5px;
    min-height:24px;
    display: table-cell;
}
.rightCar{
    width:200px;
    //float:right;
    //padding:5px;
    min-height:24px;
    position: relative;
    //right: 5px;
}

.deleteCar {
    width:10%;
    padding:0px 0px 0px 0px;
}

.typeCar {
    width:80%;

    position: relative;
    padding:7px 10px 10px 7px;

    text-align: right;

}

.clear{
    float:none;
    clear:both;
    height:0px;
}
.clearCar{


    height:0px;
}
.row{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    display:block;
    min-height:32px;
}

.rowL {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    display:block;
    min-height:32px;
}

.rowU {
    background-color:#ccc;
    border: 1px solid #000;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    display:block;
    min-height:32px;

}
.layoutCellU {
    background-color:#ccc;
    border: 1px solid #000;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    min-height:32px;
    display:table;
    width: 100%;
    font-size: 12px;
}

.text{
    width:190px;
}
.ruler{
    width:400px; border-bottom:dashed 1px #dcdcdc;
}
tr:focus{
    background-color:#fcfcf0;
}
td img{
    vertical-align:top;
    position: relative;
}

.dfkiLogo {
    vertical-align:top;
    position: relative;
    top:-10px;
}

.over{
    background-color:#f0f0f0;
}
.out{
    background-color:none;
}


.layoutLeft {
    width: 50%;
    vertical-align: top;
    display: table-cell;

}
.layoutRight {
    vertical-align: top;
    width: 50%;
    position: relative;
    display: table-cell;

}

.layoutRightSignIn {
    vertical-align: top;
    width: 50%;
    position: relative;
    display: table-cell;


}
.layoutImage {
    vertical-align: top;
    width: 5%;
    top:5%;
    position: relative;
    display: table-cell;
}
.layout {
    display:table;
    width: 100%;
    font-size: 12px;
}

.layoutCell {
    display:table;
    width: 100%;
    font-size: 12px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;

}

.layoutCellL {
    display:table;
    width: 100%;
    font-size: 12px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

}

#cell {
    display: table-cell;
}

.layoutButton {
    width: 100%;
}
.layoutButtonL {
    width: 5%;
    display: table-cell;
    border-radius: 6px;
}
.layoutButtonR {
    width: 5%;
    display: table-cell;
    border-radius: 6px;
}
.layoutButtonM {
    width: 90%;
    display: table-cell;
}


.addButton {
    text-decoration: none;
}

.addButtonText {
    font-weight: bold;
    text-decoration: none;
    position: relative;
    bottom: 5px;
}

.addButtonText1 {
    font-weight: bold;
    text-decoration: none;
}

legend {

    font-weight: bold;
}

#addForm {
    width: 80%;
    height: 80%;
    border: 1px solid #000;
    background-color:#f0f0f0;
    position: absolute;
}


.panel {
    background-color: #444;
    height: 34px;
    padding: 10px;
}


.panel a#login_pop, .panel a#join_pop {
    border: 2px solid #aaa;
    color: #fff;
    display: block;
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
a#login_pop:hover, a#join_pop:hover {
    border-color: #eee;
}

.panel a#login_pop, .panel a#join_pop1 {
    border: 2px solid #aaa;
    color: #fff;
    display: block;
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
a#login_pop:hover, a#join_pop1:hover {
    border-color: #eee;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}
.popup p, .popup div {
    /*margin-bottom: 10px;*/
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
}
.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}

.left input[type="button"] {
    border: 0px;
    background: url("http://localhost:8080/emobilesim/images/add.png");
    width:22px;
}

.carRows {
    border-color: #999 #ccc #ccc;
    padding: 5px;
}

#dataTable {
    padding: 10px;
    margin: 10px;
}

#dataTable1 {
    padding: 10px;
    margin: 10px;
}




.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
    width: 450px;
    padding: 20px;
    display: none;
}

#tab-1 {
    display: block;
}


.tabs-menu1 {
    height: 30px;
    float: left;
    clear: both;
}

.tabs-menu1 li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;

}

.tabs-menu1 li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu1 li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.tabs-menu1 .current a {
    color: #2e7da3;
}

.tab1 {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: auto;
}

.tab-content1 {
    width: 450px;
    padding: 20px;
    display: none;
}

#tab-10 {
    display: block;
}

fieldset {
    border-radius: 6px;

}

.newCar {
    border-radius: 6px;
    position: relative;
    left:100px;
    border-color: #000;
    width: 300px;
    height: 300px;
    z-index: -2;
}

.fheader{

    padding-left: 100px;
    padding-top: 30px;
}

.logout{
    text-decoration: none;
    font-size: 12px;
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}